/*样式重置*/

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 5px 0;
}

a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
}

li {
    list-style: none;
}


/*公共样式*/

.u-clearfix:before,
.u-clearfix:after {
    content: "";
    display: table;
}

.u-clearfix:after {
    clear: both;
}


/*其它样式*/

body {
    background-color: #d2d5d6;
}

#l-music-player {
    width: 640px;
    margin: 50px auto;
    background-color: #eef1f2;
    font-family: "Microsoft Yahei", sans-serif;
    box-shadow: 0 0 8px 4px #999;
}

.l-panel {
    height: 250px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(../image/bg-panel.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.c-poster {
    float: left;
    width: 240px;
}

.c-poster__img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border: solid 7px #fb8321;
    border-radius: 50%;
    background: url(../image/poster.jpg) no-repeat;
    background-size: cover;
    animation: rotate-poster-image 10s linear infinite;
}

@keyframes rotate-poster-image {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.c-poster__label {
    margin-left: 20px;
}

.c-poster__icon {
    display: inline-block;
    margin: 30px 10px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

.c-lyric {
    position: relative;
    color: #eee;
    margin-left: 260px;
    text-align: center;
}

.c-lyric__list {
    position: absolute;
    top: 100px;
    right: 0px;
    font-size: 14px;
    width: 340px;
}

.c-lyric__item--active {
    color: #fb8321;
    font-size: 16px;
}

.l-panel,
.l-msg,
.l-progress,
.l-handle {
    padding: 10px 40px;
}

.c-msg__title {
    font-weight: bold;
    font-size: 26px;
}

.c-msg__channels-list {
    font-size: 16px;
}

.c-msg__artist {
    font-weight: bold;
    font-size: 18px;
}

.c-progress {
    text-align: center;
}

.c-progress__current-time,
.c-progress__basebar,
.c-progress__total-time {
    display: inline-block;
}

.c-progress__basebar {
    width: 440px;
    height: 6px;
    background-color: #414141;
    position: relative;
    margin: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
}

.c-progress__curbar {
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fb8321;
    border-radius: 2px;
}

.l-handle {
    position: relative;
    padding-bottom: 40px;
}

.c-control {
    float: left;
}

.c-control__play-pause,
.c-control__next {
    cursor: pointer;
    vertical-align: middle;
}

.c-control__play-pause {
    margin-right: 15px;
    font-size: 45px;
    margin-left: -8px;
}

.c-control__next {
    font-size: 25px;
}

.c-setting {
    float: right;
    line-height: 45px;
}

.c-setting__volume,
.c-setting__basic-volume,
.c-setting__lyric,
.c-setting__channel {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
}

.c-setting__basic-volume {
    width: 120px;
    height: 4px;
    background-color: #414141;
    position: relative;
    margin: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -5px;
}

.c-setting__cur-volume {
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fb8321;
    border-radius: 2px;
}

.c-channels-list {
    position: absolute;
    margin: 0;
    background-color: #eaeced;
    box-shadow: 0 0 8px 4px #999;
    font-size: 16px;
    padding: 0;
    top: -390px;
    left: 600px;
    height: 400px;
    overflow: auto;
    display: none;
}

.c-channels-list__item {
    padding: 5px 10px;
    cursor: pointer;
}

.c-channels-list__item:hover,
.c-channels-list__item--active {
    background-color: #333;
    color: #eee;
}